@import "@styles/global.scss";

.bn-onboard-custom.bn-onboard-modal { z-index: 99; }

.Layout {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    color: var(--color-primary);
    background-color: black;
    top: 0;
    box-shadow: 0 12px 41px 24px #000000ed;

    .menuToggleIcon {
      color: var(--color-primary);
    }

    .logoText {
      letter-spacing: 4px;
      font-size: 0.8rem;
    }
  }

  .contentWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .content {
      padding-top: 48px;
    }
  }

}
