@import "mixins.scss";
@import "@styles/typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Recoleta", normal;
  }
}

.font-recoleta {
  font-family: "Recoleta";
}

.font-recoleta-bold {
  font-family: "Recoleta Bold";
}
