.mint-page {
  background-image: url("/mint_page/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .btn-mint {
    background-image: url("/mint_page/bg_btn.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}

.btn-disabled {
  cursor: not-allowed;
  opacity: 0.8;
}